.content-create-department {

    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.content-set-total-revenue {
    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.content-review-financial-request {
    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.content-view-department-history {
    padding-top: 10px;
    height: 100%;
    text-align: center;
    position: relative;
    display: none;
}

.input-box-ceo {
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 400px;
}

/* CSS for the table created for View All Department History */

.department-history-table {
    height: 100%;
}

table, td, tr {
    text-align: left;
}

table {
    width: 80%;
    position: absolute;
    margin: auto;
    border-collapse: collapse;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    color: white;
}

table tr:first-child { 
    background: #435245;
}
  
table tbody tr:nth-child(even) td {
    background-color: #8fa392;
}

table tbody tr:nth-child(odd) td {
    background-color: #677e6a;
}
  
  