.content-create-department {
<<<<<<< HEAD
	display: none;
}

.content-review-financial-request {
    display: none;
=======
    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.content-set-total-revenue {
    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.content-review-financial-request {
    padding-top: 10px;
    height: 100%;
    text-align: center;
    display: none;
}

.input-box-ceo {
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 400px;
>>>>>>> 95abb8fe6b426df2346aa54341767d91f9d8e88b
}