.content-review-department-requests {
    display: none;
}

.content-distribute-total-revenue {
    display: none;
}

.content-review-budget-requests {
    display: none;
}

.content-view-department-history{
    display: none;
}

.request-list-box {
    overflow-y:auto;
    overflow-x:hide;
    position:absolute;
    border: 1px solid black;
    background-color:rgb(153, 245, 112);
    height:90%;
    width:73%;
    left:20%;
    top:7%;
}

.request-list-box-department-name {
    width:20%;
    height:100%;
    border-right:2px solid black;
    float:left;
}

.request-list-box-amount {
    width:20%;
    height:100%;
    border-right:2px solid black;
    float:left;
}

.request-list-box-reason {
    width:35%;
    height:100%;
    border-right:2px solid black;
    float:left;
}

.request-list-box-notify {
    width:20%;
    height:100%;
    float:left;
}

.request-list-box-header {
    background-color:green;
    border: 1px solid black;
    position:absolute;
    top:4%;
    left:20%;
    height:3%;
    width:73%;
    font-family:sans-serif;
    font-size:80%;
    font-weight:800px;
    color:white;
    text-align:center;
}

.request-list-box-header-department-name{
    width:20%;
    float:left;
}

.request-list-box-header-amount {
    width:20%;
    float:left;
}

.request-list-box-header-reason {
    width:35%;
    float:left;
}

.request-list-box-header-notify {
    width:20%;
    float:left;
}

.request-list-entry {
    position:relative;
    height:15%;
    width:100%;

}

.request-list-entry-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-list-notify-ceo-button {
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#23a13e;
    border: 1px solid black;
    border-radius:10px;
    height:22px;
    font-size:20px;
    width:100px;
    text-align:center;
    cursor:pointer;
}

.distribute-revenue-form {
    overflow-y:scroll;
    position:absolute;
    border: 1px solid black;
    background-color:rgb(153, 245, 112);
    height:88%;
    width:75%;
    left:20%;
    top:7%;
}

.distribute-revenue-entry {
    width:70%;
    height:10%;
    top: 5%;
    left:5%;
    position:relative;
}

.distribute-revenue-form-header {
    position:absolute;
    background-color:green;
    border: 1px solid black;
    height:3%;
    width:75%;
    left:20%;
    top:4%;
    font-family:sans-serif;
    font-size:80%;
    font-weight:900px;
    color:white;
}

.help-icon {
    left:8%;
    top:50%;
    height:40px;
    width:40px;
    position:absolute;
}

/* from ceo.css */

.department-history-table {
    height: 100%;
}
table, td, tr {
    text-align: left;
}

table {
    width: 80%;
    position: absolute;
    margin: auto;
    border-collapse: collapse;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    color: white;
}

table tr:first-child {
    background: #435245;
}

table tbody tr:nth-child(even) td {
    background-color: #8fa392;
}

table tbody tr:nth-child(odd) td {
    background-color: #677e6a;
}


