body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 32, 36);
    font-family: sans-serif;
}

.bg { 
    display: inline-block;
    background-image: url("../images/bg.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-card {
    position: absolute;
    background-color: rgb(33, 32, 36);
    border-radius: 50px;
    height: 600px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
    text-align: center;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

.main-text {
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.sub-text {
    font-weight: 400;
    color: white;
    font-size: 30px;
}

.logo {
    background-image: url("../images/fobs_logo1.png");
    height: 200px;
    width: 300px;
    background-size: 100%;
    margin-top: 20px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    background-repeat: no-repeat;
}

.logo-text {
    font-weight: 300;
    font-family: Sans-serif;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.logo-bottom-text {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    transform: translateX(-50%);
}

.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#23a13e;
	line-height:30px;
	margin-bottom:100px;
	display:block;
	height:10%;
	width:50%;
	cursor:pointer;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.button-text {
    font-size:30px;
    color: white;
    font-weight: 400;
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	transform:translate(-50%, -50%);
}

.input-container {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.content-login {
    display: none;
}

.content-create-company {
    display: none;
}

.input-name-text {
    color: white;
    font-weight: 400;
}

.input-text-box {
    height: 25px;
}

