body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 32, 36);
    font-family: sans-serif;
}

.bg { 
    display: inline-block;
    background-image: url("../images/bg.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-card {
    position: absolute;
    background-color: rgb(33, 32, 36);
    border-radius: 5px;
    height: 600px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);

}

.main-text {
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.sub-text {
    font-weight: 400;
    color: white;
    font-size: 30px;
}

.logo {
    background-color: rgb(145, 213, 89);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-text {
    font-weight: 300;
    font-family: Sans-serif;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.logo-bottom-text {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    transform: translateX(-50%);
}