{% extends "userLayout.html" %}

{% block title %}CEO{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/userPages.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="graph-frame">
        <div class="row content-initial">
            <div class="column">
                <h1 class="graph-title-text">Total Revenue: $456 789</h1>
                <canvas class="graph" width="400" height="400" id="pie"></canvas>
            </div>
            <div class="column">
                <h1 class="graph-title-text">Budget Overview</h1>
                <canvas class="graph" width="400" height="400" id="bar"></canvas>
            </div>
        </div>


        <!-- Creating department -->

        <form action="" method="post">
            <div class="input-container content-create-department">
            <label class="input-name-text" for="dname">Department Name</label>
            <input class="input-text-box" type="text" placeholder="Enter Department Name" name="dname" required>
            </div>
            <div class="input container content-create-department">
            <label class="input-name-text" for="duname">Department Username</label>
            <input class="input-text-box" type="text" placeholder="Enter Department Username" name="duname" required>
            </div>
            <div class="input-container content-create-department">
            <label class="input-name-text" for="dpass">Department Password</label>
            <input class="input-text-box" type="text" placeholder="Enter Department Password" name="dpass" required>
            </div>
            <div class="button content-create-department">
            <span class="button-text">Create</span>
            </div>
        </form>
        
        <!-- Setting Total Revenue-->
        <center><div class="input-container content-set-total-revenue">
        <label class="input-name-text" for="total">Total Revenue</label>    
        <input class="input-text-box" type="text" placeholder="Enter Total Revenue" name="total" required>
        </div>
        </center>
        
        <!-- Since we have not decided upon how this will work, below is just some thoughts: could use checkboxes-->
        <center><div class="inputcontainer content-review-financial-request">
        <label class="input-name-text" for="total">Ammount Allocate</label>    
        <input class="input-text-box" type="text" placeholder="Enter Amount" name="total" required>
        </div>
        <div class="input container content-review-financial-request">
        <label class="input-name-text" for="approve">Approve</label>
        <input class="input-text-box" type="text" placeholder="Enter Response" name="approve" required>
        </div>
        <div class="input container content-review-financial-request">
        <label class="input-name-text" for="decline">Decline</label>
        <input class="input-text-box" type="text" placeholder="Enter Response" name="decline" required>
        </div>
        <div class="input-container content-review-financial-request">
        <label class="input-name-text" for="commments">Comments</label>
        <input class="input-text-box" type="text" placeholder="Enter Optional Comments" name="comments">
        </div>
        <div class="button content-review-financial-request">
        <span class="button-text">Submit</span>
        </div>
        <div class="button content-review-financial-request">
            <span class="button-text">Next</span>
        </div>
        </center>
        
        </div> <!-- This closes the graph-frame -->

    <div class="name-box">
        {{ username }}, <br /> <span style="font-family:Georgia"> Chief Executive Officer </span>
    </div>

    <div class="overview-buttons-frame">
        <div class="button" onclick="createDptClicked()">
            <span class="button-text"> Create Department</span>
        </div>

        <div class="button" onclick="setTotalRevenueClicked()">
            <span class="button-text">Set Total Revenue </span>
        </div>
        <div class="button" onclick="reviewFDRequestsClicked()">
            <span class="button-text">Review Financial Department Requests</span>
        </div>
        <div class="button" onclick="ViewAllDepartmentHistoryClicked()"> 
            <span class="button-text"> View All Department History </span>
        </div>
    </div>
{% endblock %}
