{% extends "userLayout.html" %}

{% block title %}CEO{% endblock %}

{% block content %}
    <span class="welcome-text">Hello, {CEO name here}!</span>

    <div class="GraphFrame">

    </div>

    <div class="OverviewButtonsFrame">
    <div class="Button"> <span class="ButtonText"> Create Department </span> </div>
    <div class="Button"> <span class="ButtonText"> Set Total Revenue </span> </div>
    <div class="Button"> <span class="ButtonText"> Review Financial Department Requests </span> </div>
    <div class="Button"> <span class="ButtonText"> View ALL Department History </span> </div>
    </div>
{% endblock %}
