{% extends "userLayout.html" %}

{% block title %}Deparment Head{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/userPages.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="graph-frame">
        <div class="row content-initial">
            <div class="column">
                <!--<h1 class="graph-title-text">Total Revenue: $456 789</h1>-->
                <!--<canvas class="graph" width="400" height="400" id="pie"></canvas>-->
            </div>
            <div class="column">
                <h1 class="graph-title-text">Budget Overview</h1>
                <canvas class="graph" width="400" height="400" id="bar"></canvas>
            </div>
        </div>

        <div class="content-request-funds">
            <h1 class="content-title">Request Funds</h1>
            <div class="form-div">
            <form action="" method="post">
                <div class="input-container">
                <label class="input-amount input-label" for="amount">Request amount</label>
                <span class="input"><span class="dollar-sign">&#36;</span> <input class="input-dollar-box" type="number" placeholder="Enter request amount" name="amount" value="{{
                        request.form.amount }}" required></span>
                </div>

                <div class="input-container">
                <label class="input-reason input-label" for="reason">Request reason</label>
                <!--<input class="input-text-box-reason input-box" type="text" placeholder="Enter reason" name="reason" value="{{
                        request.form.reason }}" required>
                -->
                <textarea rows="4" cols="50" class="input-text-box-reason input-box" placeholder="Enter reason" name="reason" value="{{
                request.form.reason }}" required></textarea>
                </div>

                <input class="button" type="submit" value="Send Request">
            </form>
            </div>
        </div>

    </div>

    <div class="name-box">
        Jackie Chan, <br /> <span style="font-family:Georgia"> Engineering Manager </span>
    </div>

    <div class="overview-buttons-frame">
    <div class="button" onclick="requestFundsClicked()"> <span class="button-text"> Request Funds </span> </div>
    <div class="button"> <span class="button-text"> Set Expected Budget </span> </div>
    <div class="button"> <span class="button-text"> View Department History </span> </div>
    <div class="button"> <span class="button-text"> Add Expenses </span> </div>
    </div>
{% endblock %}

