{% extends "userLayout.html" %}

{% block title %}Deparment Head{% endblock %}


{% block content %}

    <div class="graph-frame">

    </div>

    <div class="name-box">
        Jackie Chan, <br /> <span style="font-family:Georgia"> Engineering Manager </span>
    </div>

    <div class="overview-buttons-frame">
    <div class="button"> <span class="button-text"> Request Funds </span> </div>
    <div class="button"> <span class="button-text"> Set Expected Budget </span> </div>
    <div class="button"> <span class="button-text"> View Department History </span> </div>
    </div>
{% endblock %}

