{% extends "userLayout.html" %}

{% block title %}Finance Department{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/userPages.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/financial.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/financialGraph.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/financial.css') }}">
{% endblock %}

{% block content %}

    <div class="graph-frame">

        <div class="graph-button" onclick="graphButtonClicked()"> <span class="button-text"> Back to Graph </span> </div>

        <div class="row content-initial">
            <div class="column">
                <h1 class="graph-title-text">Total Revenue: ${{total_revenue_goal}}</h1>
                <canvas class="graph" width="400" height="400" id="pie"></canvas>
            </div>
            <div class="column">
                <h1 class="graph-title-text">Budget Overview</h1>
                <canvas class="graph" width="400" height="400" id="bar"></canvas>
            </div>
        </div>

        <div class="content-review-department-requests">
            <img src="static/images/helpicon.png" class="help-icon" title="The following is a list of requests from all departments within the company for additional funds. With each listed request is an associated department (the department making the request), the dollar value of the request, and the reason. The financial department employee is to review all of the requests, then notify the CEO by clicking the 'Notify CEO' buttons associated with each request.">
            <div class = "request-list-box-header">
                <div class = "request-list-box-header-department-name">
                    Department Name
                </div>
                <div class = "request-list-box-header-amount">
                    Amount ($)
                </div>
                <div class = "request-list-box-header-reason">
                    Reason
                </div>
                <div class = "request-list-box-header-notify">
                    Notify CEO
                </div>
            </div>
            <div class = "request-list-box">
                <div class="request-list-box-department-name"> </div>
                <div class="request-list-box-amount"> </div>
                <div class="request-list-box-reason"> </div>
                <div class="request-list-box-notify"> </div>
            </div>
        </div>

        <div class="content-review-budget-requests">
            <img src="static/images/helpicon.png" class="help-icon" title="">
            <div class = "request-list-box-header">
                <div class = "request-list-box-header-department-name" style="width:40%">
                    Department Name
                </div>
                <div class = "request-list-box-header-amount" style="width:30%">
                    Amount ($)
                </div>
                <div class = "request-list-box-header-notify" style="width:30%">
                    Notify CEO
                </div>
            </div>
            <div class = "request-list-box">
                <div class="request-list-box-department-name" style="width:40%"> </div>
                <div class="request-list-box-amount" style="width:30%"> </div>
                <div class="request-list-box-notify" style="width:28%"> </div>
            </div>
        </div>

        <div class="content-distribute-total-revenue">
            <div style="position:absolute;left:2.5%;top:60%;background-color:orange;height:27px;width:150px;border:1px solid black;
                    border-radius:10px;font-size:26px;text-align:center;cursor:pointer;" onclick="submitFormClicked()">
                Submit Form
            </div>
            <img src="/static/images/helpicon.png" class="help-icon"
                 title="The form to the right lists all of the departments in your company. Each department must be allocated a target revenue (e.g. allocate $0 if a department does not generate revenue). The sum of the target revenues for all departments must be equal to the 'Total Target Revenue'.">
            <div class = "distribute-revenue-form-header"> Total Target Revenue: <span id=".total-revenue"> {{total_revenue_goal}} </span></div>
            <div class = "distribute-revenue-form">
            </div>
        </div>

        <div class="content-view-department-history">
            <h1 class="content-title" style="text-align:center">View All Department History</h1>
            <div class="department-history-table"></div>
        </div>

    </div>


    <div class="name-box">
        <span class = "vertical-center">
            {{ username }} <br /><br /> <span style="font-weight: bold;">Financial Department</span>
        </span>
    </div>

    <div class="overview-buttons-frame">
        <div class="button" onclick="reviewDepartmentRequestsClicked()"><span class="button-text" style="font-size: 20px">Review Department Requests</span></div>
        <div class="button" onclick="reviewBudgetRequestsClicked()"><span class="button-text">Review Budget Requests</span></div>
        <div class="button" onclick="distributeTotalRevenueClicked()"><span class="button-text">Distribute Total Revenue</span></div>
        <div class="button" onclick="viewAllDepartmentHistoryClicked()"><span class="button-text">View All Department History</span></div>
    </div>
{% endblock %}
