{% extends "userLayout.html" %}

{% block title %}Financial department{% endblock %}


{% block content %}
    <span class="welcome-text">Financial Department Overview</span>
    <div class="graph-frame">
    </div>
    <div class="overview-buttons-frame">
        <div class="button"><span class="button-text">Review Department Revenue</span></div>
        <div class="button"><span class="button-text">Distribute Total Revenue</span></div>
        <div class="button"><span class="button-text">View All Department list</span></div>
    </div>
{% endblock %}
