<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/homePage.js') }}"></script>
</head>

<body>
    

    <div class="bg">
    <div class="white-card">
        <div class="logo">
            <p class="logo-bottom-text">Financial Online Budgeting System</p>
        </div>

        <!-- Create new company and Login buttons -->
        <a href="/signup" class="button content-initial">
            <span class="button-text">Create New Company</span>
        </a>

        <a href="/login" class="button content-intial">
            <span class="button-text">Login</span>
        </a>
    </div>

    </div>
            
</body>

</html>
