<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
</head>

<body>
    

    <div class="bg">
    <div class="white-card">
        <div class="logo">
            <span class="logo-text">F.O.B.S.</span>
            <p class="logo-bottom-text">Financial Online Budgeting System</p>
        </div>
    </div>
    </div>
    </div>
       
            <h1 class="main-text">Welcome to F.O.B.S</h1>
            <h3 class="sub-text">Your Financial Online Budgeting System.</h3>
                    </br></br></br></br></br></br></br></br></br></br></br>
    <center><label for="uname"><b><font size="+2">Username</font></b></label>
	<input type="text" placeholder="Enter your username" name="uname" required></br></br>
	
	<label for="pwd"><b><font size="+2">Password</font></b></label>
	<input type="password" placeholder="Enter your password" name="pwd" required></br></br>

	<button type="submit">Login</button>
            
</body>

</html>
