<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
</head>

<body style="background-color=blue;">
    <div class="bg"></div>
    <div class="container">
    </br></br></br></br></br></br></br></br></br></br></br>
    <center><label for="uname"><b><font size="+2">Username</font></b></label>
	<input type="text" placeholder="Enter your username" name="uname" required></br></br>
	
	<label for="pwd"><b><font size="+2">Password</font></b></label>
	<input type="password" placeholder="Enter your password" name="pwd" required></br></br>

	<button type="submit">Login</button>
    </div>
</body>

</html>
